@import "../vars";

.homepage {
  background-color: $black;
  padding: 18px 24px;

  a {
    color: $light;
    text-decoration: none;
    padding-right: 24px;
    transition: all ease-in 0.25s;

    &:hover {
      color: $teal;
    }
  }
}
